<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<connectionStrings>
    <add name="cnProduction" connectionString="Server=192.168.1.10;Database=CentralDB;User Id=sa;Password=DATA-Center;"/>
    
    <add name="cnStatging" connectionString="Server=ASIF-CHOWDHURY\SQLEXPRESS;Database=CentralDB;User Id=sa;Password=Bangladesh!^!@;"/>
  </connectionStrings>-->
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="RealEstateManagementSystem.Properties.Settings.CentralDBConnectionString"
      connectionString="Data Source=ASIF-CHOWDHURY\SQLEXPRESS;Initial Catalog=CentralDB;User ID=sa;Password=Bangladesh!^!@"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>